<div class="mx-3 my-3">
    <% if @tool_blockages.empty? %>
      <h1 class= "fw-bold text-center">No Blockages Found</h1>
    <% else %>
      <div class="scroll-container rounded-4 bg-light">
        <table class="table table-striped table-bordered table align-middle shadow-sm p-3 mb-5 bg-body-tertiary rounded centered-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>T_SAP</th>
              <th>T_Alias</th>
              <th>Cavity_num</th>
              <th>Created_by</th>
              <th>Date</th>
              <th>Time</th>
              <th>Reason</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @tool_blockages.each do |blockage| %>
            <tr>
              <td><%= blockage.id %></td>
              <td><%= blockage.tool.sap %></td>
              <td><%= blockage.tool.alias %></td>
              <td><%= blockage.cavity.num %></td>
              <td><%= blockage.created_by %></td>
              <td><%= blockage.created_at.in_time_zone('America/Mexico_City').strftime('%m-%d-%y')  %></td>
              <td><%= blockage.created_at.in_time_zone('America/Mexico_City').strftime('%H:%M:%S') %></td>
              <td><%= blockage.reason %></td>
              <td><%= blockage.status %></td>
              <td>
                <%= link_to blockage_path(blockage) do %>
                  <i class="fa-solid fa-eye"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <div>
    <% end %>
</div>
