<div class="container my-3">
  <h1 class="text-center fw-bold">Edit Tool</h1>
  <div class="registration-form">
    <%= simple_form_for @tool do |f| %>
      <%= f.input :alias, required: true %>
      <%= f.input :sap, required: true  %>
      <%= f.input :technology, reuired: true  %>
      <%= f.input :bu, required: true  %>
      <%= f.input :volume, required: true  %>
      <%= f.input :segment, required: true, hint: 'LR 1000 to 9,900 / MR 10,000 to 39,900 / HR 40,000+',
      collection: ['HV', 'MV', 'LV']%>
      <%= f.input :customer, required: true  %>
      <%= f.input :capacity, required: true%>
      <%= f.input :layout, label:'New_file', as: :file , hint: 'PDF file'%>
      <div class="form-alert p-3 my-3">
        <p><strong>Blocked:</strong> <%= @tool.blocked %></p>
        <p><strong>Damaged:</strong> <%= @tool.damaged %></p>
        <p style="font-size:14px;"> *These values are updated based on blockages</p>
      </div>
      <div class="d-flex justify-content-between">
        <%= f.button :submit, class:"btn btn-primary mb-3" %>
        <%= link_to "cancel", tool_path(@tool),class:"btn btn-primary mb-3" %>
      </div>
    <% end %>
  </div>e
</div>
