<div class="mt-2 mx-4">
  <div>
    <div class="cards my-5">
      <% if @hv_availability <= 70 %>
        <div class="card-category row text-center mx-1 bg-danger">
      <% elsif @hv_availability < 90 %>
        <div class="card-category row text-center mx-1 bg-warning">
      <% else %>
        <div class="card-category row text-center mx-1 bg-success">
      <% end %>
          <div class="col align-self-center">
            <h1 class="fw-bold"><%= @hv_availability.round(2) %>%</h1>
            <p class="fw-bold">HV Availability</p>
          </div>
        </div>
      <% if @mv_availability <= 70 %>
        <div class="card-category row text-center mx-1 bg-danger">
      <% elsif @mv_availability < 90 %>
        <div class="card-category row text-center mx-1 bg-warning">
      <% else %>
        <div class="card-category row text-center mx-1 bg-success">
      <% end %>
          <div class="col align-self-center">
            <h1 class="fw-bold"><%= @mv_availability.round(2) %>%</h1>
            <p class="fw-bold">MV Availability</p>
          </div>
        </div>
      <% if @lv_availability <= 70 %>
        <div class="card-category row text-center mx-1 bg-danger">
      <% elsif @lv_availability < 90 %>
        <div class="card-category row text-center mx-1 bg-warning">
      <% else %>
        <div class="card-category row text-center mx-1 bg-success">
      <% end %>
          <div class="col align-self-center">
            <h1 class="fw-bold"><%= @lv_availability.round(2) %>%</h1>
            <p class="fw-bold">LV Availability</p>
          </div>
        </div>
    </div>
  </div>
  <% if @tools.empty? %>
    <div class="my-3">
      <h1 class="fw-bold text-center">No tools found</h1>
    </div>
  <% else %>
    <div class="row justify-content-end">
      <div class="col-lg-4 col-md-6 my-2">
        <%= form_with url: tools_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Type a keyword"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <h3 class="mb-0 align-self-end fw-bold">Availability <%= @average_availability.round(2) %>%</h3>
      <%= link_to "Export Tools CSV", tools_path(format: :csv), class:"btn btn-primary btn-sm align-self-end" %>
    </div>
    <div class="scroll-container rounded-4 bg-light">
        <table class="table table-striped table-bordered table align-middle shadow-sm p-3 mb-5 bg-body-tertiary rounded centered-table">
          <thead>
            <tr>
              <th>Alias</th>
              <th>SAP</th>
              <th><i class="fa-sharp fa-solid fa-paperclip"></i></th>
              <th>Plant</th>
              <th>BU</th>
              <th>Tech</th>
              <th>Volume</th>
              <th>Customer</th>
              <th>Location</th>
              <th>Dmg</th>
              <th>Blk</th>
              <th>Act</th>
              <th>Spr</th>
              <th>Seg</th>
              <th>Avail%</th>
            </tr>
          </thead>
          <tbody>
          <% @tools.each do |tool| %>
          <tr>
          <td>
          <%= link_to tool_path(tool), class:"link-blue" do %>
          <%= tool.alias %>
          <% end %>
          </td>
          <td><%= tool.sap %></td>
          <td class="text-center">
            <% if tool.layout.present?%>
              <%= link_to tool.layout , :target => "_blank" do %>
                <i class="fa-sharp fa-solid fa-paperclip" style="color: #005eff;"></i>
              <% end %>
              <% else %>
                <i class="fa-solid fa-ban" style="color: #989aa0;"></i>
            <% end %>
          </td>
          <td><%= tool.plant%></td>
          <td><%= tool.bu %></td>
          <td><%= tool.technology %></td>
          <td><%= tool.volume %></td>
          <td><%= tool.customer %></td>
          <% if tool.location === "production" %>
            <% if policy(ProductionOrder).edit? %>
              <td><%= link_to "produc", edit_production_order_path(tool.production_orders.find_by(status:"open")), class: "btn btn-primary"%></td>
            <% else %>
              <td><span class= "bg-primary p-2 fw-medium" style="color: white;" >produc</span></td>
            <% end %>
          <% elsif tool.location === "washing" %>
            <td><span class= "bg-warning p-2">washing</span></td>
          <% elsif tool.location === "stored" %>
            <% if policy(ProductionOrder).create? %>
              <td><%= link_to tool.location, new_tool_production_order_path(tool), class: "btn btn-success"%></td>
            <% else %>
              <td><span class= "bg-success p-2 fw-medium" >stored</span></td>
            <% end %>
          <% end %>
          <td>
          <%= tool.damaged %>
          <% if policy(Blockage).create? %>
            <%= link_to new_tool_blockage_path(tool) do %>
            <i class="fa-solid fa-square-plus"></i>
            <% end %>
          <% end %>
          </td>
          <td>
          <%= tool.blocked %>
          <% if policy(Blockage).create? %>
            <%= link_to new_tool_blockage_path(tool) do %>
            <i class="fa-solid fa-square-plus"></i>
            <% end %>
          <% end %>
          </td>
          <td><%= tool.active %></td>
          <td><%= tool.spares %></td>
          <td><%= tool.segment %></td>
          <td><%= tool.available %>%</td>
          </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  <% end %>
</div>
