<div class="mt-2 mx-4">
  <% if @tools.empty? %>
    <div class="my-3">
      <h1 class="fw-bold text-center">No tools found</h1>
      <h3 class="text-center">please updload tools information to enable this view</h3>
    </div>
  <% else %>
    <div class="row justify-content-end">
      <div class="col-lg-4 col-md-6 my-2">
        <%= form_with url: tools_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Type a keyword"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <h1 calss="fw-bold">Tools</h1>
      <h3 class="mb-0 align-self-end fw-bold">Availability <%= @average_availability.round(2) %>%</h3>
      <%= link_to "Export Tools CSV", tools_path(format: :csv), class:"btn btn-primary btn-sm align-self-end" %>
    </div>
    <div class="scroll-container rounded-4 bg-light">
        <table class="table table-striped table-bordered table align-middle shadow-sm p-3 mb-5 bg-body-tertiary rounded centered-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Alias</th>
              <th>SAP</th>
              <th>Layout</th>
              <th>Plant</th>
              <th>BU</th>
              <th>Technology</th>
              <th>Volume</th>
              <th>Customer</th>
              <th>Capacity</th>
              <th>Location</th>
              <th>Damaged</th>
              <th>Blocked</th>
              <th>Active</th>
              <th>Spare</th>
              <th>Segment</th>
              <th>Avail%</th>
            </tr>
          </thead>
          <tbody>
          <% @tools.each do |tool| %>
          <tr>
          <td><%= tool.id %></td>
          <td>
          <%= link_to tool_path(tool), class:"link-blue" do %>
          <%= tool.alias %>
          <% end %>
          </td>
          <td><%= tool.sap %></td>
          <td class="text-center">
            <% if tool.layout.present?%>
              <%= link_to tool.layout , :target => "_blank" do %>
                <i class="fa-sharp fa-solid fa-paperclip" style="color: #005eff;"></i>
              <% end %>
              <% else %>
                <i class="fa-solid fa-ban" style="color: #989aa0;"></i>
            <% end %>
          </td>
          <td><%= tool.plant%></td>
          <td><%= tool.bu %></td>
          <td><%= tool.technology %></td>
          <td><%= tool.volume %></td>
          <td><%= tool.customer %></td>
          <td><%= tool.capacity %></td>
          <% if tool.location === "production" %>
          <td><%= link_to "produc", edit_production_order_path(tool.production_order), class: "btn btn-primary"%></td>
          <% else %>
          <td><%= link_to tool.location, new_tool_production_order_path(tool), class: "btn btn-success"%></td>
          <% end %>
          <td>
          <%= tool.damaged %>
          <%= link_to new_tool_blockage_path(tool) do %>
          <i class="fa-solid fa-square-plus"></i>
          <% end %>
          </td>
          <td>
          <%= tool.blocked %>
          <%= link_to new_tool_blockage_path(tool) do %>
          <i class="fa-solid fa-square-plus"></i>
          <% end %>
          </td>
          <td><%= tool.active %></td>
          <td><%= tool.spares %></td>
          <td><%= tool.segment %></td>
          <td><%= tool.available %>%</td>
          </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  <% end %>
</div>
