<div class="container my-3">
  <div class="registration-form">
    <%= simple_form_for @tool do |f| %>
        <%= f.input :alias, inline_label:'Alias' , required: true %>
        <%= f.input :sap, required: true  %>
        <%= f.input :technology, reuired: true  %>
        <%= f.input :bu, required: true, collection: [ "Damper" ,"Steering", "Low_Volume"]  %>
        <%= f.input :volume, required: true  %>
        <%= f.input :segment, required: true, hint: 'LR 1000 to 9,900 / MR 10,000 to 39,900 / HR 40,000+',
        collection: ['HV', 'MV', 'LV']%>
        <%= f.input :customer, required: true  %>
        <%= f.input :capacity, required: true, label:"Cavities Capacity"%>
        <%= f.input :layout, as: :file , hint: 'PDF file'%>
        <%= f.button :submit, class:"btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
