<div class="container my-3">
  <div class="mx-auto border border-secondary-subtle
      shadow p-5 mb-5 bg-light rounded-4">
      <h1 class="text-center fw-bold">Tool Info</h1>
      <table class="table table-striped table-bordered table align-middle shadow-sm p-3 mb-5 bg-body-tertiary">
        <tr>
          <td class="fw-bold">
           ID
          </td>
          <td>
            <%= @tool.id %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Alias
          </td>
          <td>
            <%= @tool.alias %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           SAP
          </td>
          <td>
            <%= @tool.sap %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Plant
          </td>
          <td>
            <%= @tool.plant %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           BU
          </td>
          <td>
            <%= @tool.bu %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Technology
          </td>
          <td>
            <%= @tool.technology %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Volume
          </td>
          <td>
            <%= @tool.volume %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Customer
          </td>
          <td>
            <%= @tool.customer %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Cavities capacity
          </td>
          <td>
            <%= @tool.capacity %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Location
          </td>
          <td>
            <%= @tool.location %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Damaged cavities
          </td>
          <td>
            <%= @tool.damaged %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Blocked cavities
          </td>
          <td>
            <%= @tool.blocked %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Active cavities
          </td>
          <td>
            <%= @tool.active %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Spare cavities
          </td>
          <td>
            <%= @tool.spares %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Segment
          </td>
          <td>
            <%= @tool.segment %>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">
           Available %
          </td>
          <td>
            <%= @tool.available %>%
          </td>
        </tr>
          <td class="fw-bold">
           Layout
          </td>
          <td>
            <% if @tool.layout.present? %>
              <%= link_to @tool.layout , :target => "_blank" do %>
                <i class="fa-sharp fa-solid fa-paperclip" style="color: #005eff;"></i>
              <% end %>
            <% else %>
              <i class="fa-solid fa-ban" style="color: #989aa0;"></i>
            <% end %>
          </td>
        </tr>
        <tr>
        <td class="fw-bold">
        Cavities Overview:
        </td>
        <td>
          <% if @tool.cavities %>
            <%= @tool.cavities.map { |c| c.num }.join(", ") %>
          <% end %>
        </td>
        </tr>
        <tr>
          <td style="font-size: 12px;">
            Created by: <%= @tool.created_by %>
          </td>
          <td style="font-size: 12px;">
            Updated by: <%= @tool.last_updated_by %>
          </td>
        </tr>
      </table>
      <%= link_to "Edit", edit_tool_path(@tool), class: "btn btn-primary" %>
  </div>
  <div class="mx-auto border border-secondary-subtle shadow p-5 mb-5 bg-light rounded-4">
    <h1 class="text-center fw-bold">Cavities</h1>
      <div class="col-6 mx-auto">
        <%= simple_form_for [@tool,@cavity] do |f| %>
          <%= f.input :num , require: true %>
          <%= f.input :status, require: true, collection: ["released", "unavail"] %>
          <%= f.input :is_spare, label: "Is spare" %>
          <%= f.button :submit, "Add_Cavity", class:"btn btn-primary mb-3" %>
        <% end %>
      </div>
    <table class="table table-striped table-bordered table align-middle shadow-sm p-3 mb-5 bg-body-tertiary">
      <thead>
        <tr>
          <th>Cavity Number</th>
          <th>Cavity Status</th>
          <th>Spare</th>
          <th>Created By</th>
          <th>Last Updated By</th>
        </tr>
      </thead>
  <% if !@tool.cavities.empty? %>
      <tbody>
        <% if @cavities %>
          <% @cavities.each do |cavity| %>
            <tr>
              <td><%= link_to cavity.num, edit_cavity_path(cavity) %></td>
              <td><%= cavity.status %></td>
              <td><%= cavity.is_spare ? 'Yes' : 'No' %></td>
              <td><%= cavity.created_by %></td>
              <td><%= cavity.last_updated_by %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>
