<div class="navbar navbar-expand-lg py-0 navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class:"navbar-brand" do %>
    <%= image_tag "Logo_Navbar",
    alt:"Logo", height:"40", class:"d-inline-block align-text-top"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <% if user_signed_in? %>
      <div class="navbar-nav">
        <div class="nav-item dropdown">
          <a class="nav-link <%=' active' if current_page?(tools_path) || current_page?(tools_production_path) || current_page?(new_tool_path)%>
          dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tools
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "All", tools_path, class: "nav-link#{' active' if current_page?(tools_path)}" %></li>
            <li><%= link_to "Production", tools_production_path , class: "nav-link#{' active' if current_page?(tools_production_path)}" %></li>
            <li><%= link_to "New_Tool", new_tool_path, class: "nav-link#{' active' if current_page?(new_tool_path)}" %></li>
          </ul>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link <%#=' active' if current_page?(wo_blockages_path) || current_page?(d_blockages_path)%> dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blockages
          </a>
          <ul class="dropdown-menu">
            <%# <li><%#= link_to "Wash", wo_blockages_path, class: "nav-link#{' active' if current_page?(wo_blockages_path)}" %></li>
            <li><%#= link_to "Damaged", d_blockages_path, class: "nav-link#{' active' if current_page?(d_blockages_path)}" %></li> %>
          </ul>
        </div>
        <%= link_to "Wash_Orders", wash_orders_path, class: "nav-link#{' active' if current_page?(wash_orders_path)}" %>
        <%= link_to "Damage_Reports", damage_reports_path, class: "nav-link#{' active' if current_page?(damage_reports_path)}" %>
        <% if current_user.admin %>
          <%= link_to "Users", users_path, class: "nav-link#{' active' if current_page?(users_path)}" %>
        <% end %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"nav-link" %>
      </div>
    <% else %>
      <div class="navbar-nav">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
