<div class="navbar navbar-expand-lg bg-body-tertiary py-0 navbar-lewagon"
style="background-color: #efecec;">
  <div class="container-fluid">
    <%= link_to "/", class:"navbar-brand" do %>
    <%= image_tag "Logo_Freudenberg",
    alt:"Logo", height:"40", class:"d-inline-block align-text-top"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <% if user_signed_in? %>
      <div class="navbar-nav">
        <%= link_to "Action", "#", class:"nav-link active" %>
        <%= link_to "Another action", "#", class:"nav-link active" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"nav-link active" %>
      </div>
    <% else %>
      <div class="navbar-nav">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
