<div class="container my-3">
  <h1 class="text-center fw-bold">New Damage Report</h1>
  <div class="registration-form">
    <%= simple_form_for [@tool, @damage_report] do |f| %>
        <h2 class="text-center">Tool: <%= @tool.alias %> </h2>
        <p>
          Cavities:
            <%= @blockages.map { |blockage| blockage.cavity.num }.join(', ') %>
        </p>
        <%= f.input :machine_num, label:"Machine_Number", require: true %>
        <%= f.input :shift, require: true %>
        <%= f.input :operator, require: true %>
        <%= f.input :quality, label:"Quality", require: true %>
        <%= f.input :bcl, label:"BCL", require: true %>
        <%= f.input :process_eng, label:"Process_Engineer", require: true %>
        <%= f.input :damaged_part, label:"Damaged_Part", require: true %>
        <%= f.input :description, label:"Incident_Description", require: true %>
        <%= f.input :cause, label:"Possible_Cause", require: true %>
        <%= f.input :comments, require: true %>
        <%= f.button :submit, "Create_Report", class:"btn btn-primary mb-3 fw-bold" %>
    <% end %>
  </div>
</div>
