<div class="container my-3">
  <h1 class="text-center fw-bold">Active Blockages to wash</h1>
    <div class="cards my-5">
    <% @tools_wash.each do  |tool|%>
      <div class="card shadow p-3 m-1 bg-body-tertiary rounded" style="width: 25rem;">
        <div class="card-header">
          <strong>Tool Alias:</strong> <%= tool.alias %>
          <strong>Tool SAP:</strong> <%= tool.sap %>
        </div>
        <ul class="list-group list-group-flush">
          <% tool.blockages.where(reason: "wash").each do |blockage| %>
            <li class="list-group-item">
              <strong>Cavity:</strong> <%= blockage.cavity.num %>
              <strong>Created_by:</strong> <%= blockage.created_by %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>
    <h1 class="text-center fw-bold my-5">Active Blockages Damage</h1>
    <div class="cards">
    <% @tools_damaged.each do  |tool|%>
      <div class="card shadow p-3 m-1 bg-body-tertiary rounded">
        <div class="card-header">
          <strong>Tool Alias:</strong> <%= tool.alias %>
          <strong>Tool SAP:</strong> <%= tool.sap %>
        </div>
        <ul class="list-group list-group-flush">
          <% tool.blockages.where(reason: "damaged").each do |blockage| %>
            <li class="list-group-item">
              <strong>Cavity:</strong> <%= blockage.cavity.num %>
              <strong>Created_by:</strong> <%= blockage.created_by %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>
</div>
