<div class="container my-3 mx-auto">
  <h1 class="text-center fw-bold">Active Blockages to wash</h1>
    <div class="cards my-5 ">
    <% @tools_wash.each do  |tool|%>
      <div class="card shadow p-3 m-1 bg-body-tertiary rounded" style="width: 25rem; height: 20rem">
        <div class="card-header">
          <strong>Tool Alias:</strong> <%= tool.alias %>
          <strong>Tool SAP:</strong> <%= tool.sap %>
        </div>
        <div class="card-body overflow-auto">
          <ul class="list-group list-group-flush">
            <% tool.blockages.where(reason: "wash").each do |blockage| %>
              <li class="list-group-item">
                <strong>Cavity:</strong> <%= blockage.cavity.num %>
                <br>
                <span style="font-size: x-small;">Created_by:<%= blockage.created_by %></span>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="card-footer">
        <% if tool.wash_orders.empty? %>
          <%= link_to "Request_wash_Service", new_tool_wash_order_path(tool), class:"btn btn-primary" %>
        <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <h1 class="text-center fw-bold my-5">Active Blockages Damage</h1>
    <div class="cards">
    <% @tools_damaged.each do  |tool|%>
      <div class="card shadow p-3 m-1 bg-body-tertiary rounded">
        <div class="card-header">
          <strong>Tool Alias:</strong> <%= tool.alias %>
          <strong>Tool SAP:</strong> <%= tool.sap %>
        </div>
        <div class="card-body overflow-auto">
          <ul class="list-group list-group-flush">
            <% tool.blockages.where(reason: "damaged").each do |blockage| %>
              <li class="list-group-item">
                <strong>Cavity:</strong> <%= blockage.cavity.num %>
                <br>
                <span style="font-size: x-small;">Created_by:<%= blockage.created_by %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    </div>
</div>
