<div class="container my-3">
  <h1 class="text-center fw-bold">Update Wash_Order</h1>
  <div class="registration-form">
    <%= simple_form_for @wash_order do |f| %>
        <h2 class="text-center">Tool: <%= @wash_order.tool.alias %>  -  <%= @wash_order.tool.sap %> </h2>
          <p><strong>Active_Cav:</strong> <%= @wash_order.active %></p>
          <p><strong>Blocked_Cav:</strong> <%= @wash_order.blocked %></p>
          <p><strong>Damaged_Cav:</strong> <%= @wash_order.damaged %></p>
          <p><strong>startd_at:</strong> <%= @wash_order.created_at.in_time_zone('America/Mexico_City').strftime('%m-%d-%y %H:%M:%S') %></p>
          <p><strong>Created_by:</strong> <%= @wash_order.created_by %></p>
          <p><strong>Closed_by:</strong> <%= @wash_order.closed_by %></p>
          <p><strong>startd_at:</strong> <%= @wash_order.created_at.in_time_zone('America/Mexico_City').strftime('%m-%d-%y %H:%M:%S') %></p>
          <p><strong>Created_by:</strong> <%= @wash_order.created_by %></p>
        <%= f.input :comments, require: true %>
        <%= f.input :status, require:true, collection: ["open", "close"] %>
        <%= f.button :submit, "Update", class:"btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
