<div class="container my-3">
  <h1 class="text-center fw-bold">Edit Production Order</h1>
    <div class="registration-form">
      <%= simple_form_for @production_order do |f|  %>
        <h2>Tool: <%= @production_order.tool.alias %></h2>
        <%= f.input :cavities_in_tool, hint: "please enter the number of cavities in the tool", required: true %>
        <%= f.input :comments %>
        <%= f.input :status, hint:"closing the order will send it back to stored", collection: ["open", "close"]%>
        <p>created by: <%= @production_order.created_by %> <%=  %></p>
        <p>Last_edited_by: <%= @production_order.last_updated_by %></p>
        <%= f.button :submit, "save", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
